* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SMOOTH SCROLLING */
html:focus-within{
	scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8e7f8;
}

main {
    padding: 20px 0;
    margin-bottom: 5%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.container-nl {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.content-column {
    padding: 15px;
    background-color: #f0f0f0;
}

.sidebar-column {
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 25px;
}

/* Navbar */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Logo and Blog Name */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logo h1 {
    font-size: 1.8rem;
    margin: 0;
}

/* Menu Toggle Button (for mobile) */
.menu-toggle {
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
    display: none;
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Navigation Menu */
.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-menu ul li {
    margin: 0;
}

.nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.nav-menu ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

header.sticky {
    background-color: rgba(51, 51, 51, 0.9);
    padding: 5px 0;
}

/* Carousel */
.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: clamp(280px, 50vh, 500px);
    border-radius: 15px;
}

.carousel-slides,
.carousel-slide {
    height: 100%;
}

.carousel-slide {
    min-width: 100%;
}

.carousel-slide img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.carousel-title {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 2;
}

.carousel-indicators .indicator {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-indicators .indicator.active {
    background-color: rgb(97, 87, 87);
}

/* Cards */
.post-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Articles */
article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

article h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

article p {
    color: #555;
}

.cta-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3;
}

.article-preview {
    display: flex;
    margin-bottom: 20px;
    overflow: hidden;
}

.article-preview img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.article-preview img:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.article-content {
    flex: 1;
}

.post-list {
    list-style: none;
    padding: 0;
}

.post-list li {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-list li h3 {
    margin-top: 0;
}

.post-list li p {
    margin-bottom: 10px;
}

.post-list li .cta-button {
    display: inline-block;
    padding: 8px 15px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.post-list li .cta-button:hover {
    background-color: #555;
}

/* Contact form*/
.contact-form {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

/* Author */
.about-author {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-author h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.author-info {
    max-width: 600px;
    margin: 0 auto;
}

.author-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
}

.author-info p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 20px;
}

.social-links img {
    width: 30px;
    height: 30px;
    justify-content: space-between;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
}

/* Footer */
#main-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    transition: transform 0.3s ease-out;
    transform: translateY(100%);
}

#main-footer.show {
    transform: translateY(0);
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    .article-preview {
        flex-direction: column;
        align-items: center;
    }

    .article-preview img {
        margin-bottom: 10px;
    }

    main {
        margin-bottom: 10%;
    }

    .carousel-title {
        font-size: 18px;
        top: 10px;
        left: 10px;
    }

    .carousel-indicators {
        bottom: 10px;
    }

    .menu-toggle {
        display: block;
    }

    .nav-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #333;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-menu ul {
        flex-direction: column;
        gap: 10px;
    }

    .nav-menu ul li a {
        padding: 10px;
    }
}

@media (min-width: 768px) {
    .container-content {
        grid-template-columns: 2fr 1fr;
    }
}